@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#book-icon{
    color: yellowgreen;
    margin-left: 8px;
}

.container {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.header {
    width: 100%;
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 20px;
    text-align: right;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 0.7rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.form-container {
    width: 100%;
    background-color: black;
    opacity: 0.9;
    padding: 20px;
    justify-content: center;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    display: flex;
    flex-direction: column;
}

#book-form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form-group {
    font-family:'Roboto',sans-serif;
    font-size: 3rem;
    text-align: center;
    color: rgb(235, 235, 168);
    display:flex;
    justify-content:center;
    padding: 10px;
}

#info {
    padding: 5px;
    margin-top: 2px;
    font-size: 1rem;
    color:white;
    font-family:'Roboto';
    text-align: right;
    font-weight: bold;
}

label { 
    display: table-cell;
    text-align: right;
    margin-right: auto;
}

input:not(#submit-input){
    width: 50%;
    display:table-cell;
    height: 3rem;
    background-color: transparent;
    border-bottom-style:groove;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style:hidden;
    outline: none;
    color: whitesmoke;
    font-family:'Roboto',sans-serif;
    font-size: 2rem;
    text-align: left;
}

#submit-input{
    border-style: hidden;
    padding: 10px;
    background-color: transparent;
    color: yellowgreen;
    font-size: 1.2rem;
    text-align: right;
}



.book-list-container{
    width: 100%;
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

a{
    cursor: pointer;
}

.book-element {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color:rgb(40, 219, 219);
    padding: 5px;
    margin: 2px;
}

.book-element:hover{
    font-size: 1.8rem;
    color:greenyellow ;
}

a {
    float: right;
}



.additional-field {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
    padding: 10px;
    color: white;
    margin-left: 10px;
    font-family: 'Roboto',sans-serif;
    border: white 1px solid; 
}

.additional-field:hover {
    color:#e36df3;
    font-weight: bold;
    border: #b596d3 1px solid; 
}